/* Apply this style to the body element */


h1 {
  font-size: 70px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 2px #b393d3;
}
h3
{
  font-size: 30px;
  font-weight: 600;
  color: black;
  text-shadow: 0px 0px 5px white, 0px 0px 10px gray, 0px 0px 10px silver,
    0px 0px 2px white;
}
.login
{
  padding-left: 50px;
  margin: 10px;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
body {
    /* Set the background color to white */
    background-color: #301934;
    
    /* Set the font to a sans-serif font */
    font-family: sans-serif;
  }
  
  /* Apply this style to the form element */
  form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 333px;
    padding: 78px;
    padding-right: 107px;
    border: 2px solid #ccc;
    background: #3b3b3b;
    
  }
  
  /* Apply this style to the input elements within the form */
  form input {
    /* Add some padding and a border to the input elements */
    padding: 12px;
    border: 1px solid #ccc;
    
    /* Give the input elements a width of 100% */
    width: 100%;
    
    /* Add some margin to the input elements */
    margin-bottom: 20px;
  }
  
  /* Apply this style to the submit button */
  form input[type="submit"] {
    /* Add some padding and a background color to the submit button */
    padding: 12px 20px;
    background-color: #4caf50;
    
    /* Change the text color to white */
    color: white;
    
    /* Add some hover effects to the submit button */
    cursor: pointer;
  }
  
  /* Apply this style to the label elements within the form */
  form label {
    /* Change the font size and weight of the labels */
    font-size: 16px;
    font-weight: bold;
    
    /* Add some margin to the labels */
    margin-bottom: 8px;
  }