<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Predictor</title>
    <style>
      h1{
        font-weight: bold;
        color: #4caf50;
      }
    </style>
</head><h1 align="center">Diabetes Predication</h1>
<body>
 <form method="post" action="/predict">
   <label>Pregnancies:</label>
   <input type="text" name="Pregnancies"><br><br>
   <label>Glucose:</label>
   <input type="text" name="Glucose"><br><br>
   <label>BloodPressure:</label>
   <input type="text" name="BloodPressure"><br><br>
   <label>SkinThickness:</label>
   <input type="text" name="SkinThickness"><br><br>
   <label>Insulin:</label>
   <input type="text" name="Insulin"><br><br>
   <label>BMI:</label>
   <input type="text" name="BMI"><br><br>
   <label>DiabetesPedigreeFunction:</label>
   <input type="text" name="DiabetesPedigreeFunction"><br><br>
   <label>Age:</label>
   <input type="text" name="Age"><br><br>
   <input type="submit" value="predict">
   {% if result %}
    <p>Person is: 
      {{result}}</p>
   {% endif %}
 </form>     
</body>
</html>